#bottom{
    @include generalDisplay();
    justify-content: space-between;
    #priceHistory, #priceProbability, button{
        width: 33%;
    }

    #priceHistory{
        display: grid;
        grid-template-columns: auto auto;
        grid-row-gap: 15px;

        p{
            color: $accent;
        }

        .smolText{
            color: $secondary;
            font-size: 1rem;
        }
    }

    #priceProbability{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .smolText{
            color: $secondary;
            font-size: 1rem;
        }

        #minMax{
            display: flex;

            #max{
                margin: 0 100px;
            }
        }
    }
    
    button{
        @include borderStyle();
        font-size: 1.5rem;
        border-radius: 25px;
        max-width: 250px;

        &:hover{
            background-color: #2f3741;
            outline: none;
            cursor: pointer;
        }

        &:focus{
            outline: none;
        }
    }
}