#middle{
    @include generalDisplay();

    #graphDiv{
        width: 50%;
        height: 100%;
        margin-top: auto;

        canvas{
            width: 100% ;
            height: auto;
        }

        #chartDisclaimer{
            color: $secondary;
            font-style: italic;
            font-size: 1rem;
            opacity: 0.5;
            text-align: center;
            margin-top: 1.25rem;
        }
    }

    #prices{
        width: 50%;
        padding-left: 75px;

        h1{text-align: center;}
        ul{
            list-style: none;

            li{
                display: flex;
                justify-content: space-between;
                margin: 50px 0;
                input{
                    outline: none;
                    @include priceInput();
                    text-align: right;
                    font-size: 1.5rem;
                    width: 25%;
                    color: $accent;
                }

                #current{
                    color: $accent;
                }
            }

            #last{
                margin-bottom: 0;
            }
        }
    }
}