@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap");
#top {
  width: 80%;
  min-width: 867px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#top #stockIconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#top #stockIconContainer li {
  position: relative;
  list-style: none;
  margin: 0 10px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #1f2833;
  border: 1px solid #66fcf1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top #stockIconContainer li a {
  position: absolute;
  width: 100%;
  height: auto;
}

#top #stockIconContainer li a:hover {
  cursor: pointer;
}

#top #searchBar {
  display: none;
  position: relative;
  width: 50%;
  height: 50px;
}

#top #searchBar input {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #1f2833;
  border: 1px solid #66fcf1;
  color: white;
  padding: 1.5rem;
  font-size: 1.25rem;
}

#top #searchBar input::-webkit-input-placeholder {
  color: #c5c6c7;
  font-style: italic;
}

#top #searchBar input:-ms-input-placeholder {
  color: #c5c6c7;
  font-style: italic;
}

#top #searchBar input::-ms-input-placeholder {
  color: #c5c6c7;
  font-style: italic;
}

#top #searchBar input::placeholder {
  color: #c5c6c7;
  font-style: italic;
}

#top #searchBar input:focus {
  outline: none;
}

#top #searchBar #icon {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #1f2833;
  border: 1px solid #66fcf1;
}

#top #searchBar #icon:hover {
  cursor: pointer;
}

#top #searchBar #icon a {
  width: 100%;
  height: auto;
}

#top #searchBar #icon a i {
  font-size: 1.25rem;
}

#middle {
  width: 80%;
  min-width: 867px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px auto;
}

#middle #graphDiv {
  width: 50%;
  height: 100%;
  margin-top: auto;
}

#middle #graphDiv canvas {
  width: 100%;
  height: auto;
}

#middle #graphDiv #chartDisclaimer {
  color: #c5c6c7;
  font-style: italic;
  font-size: 1rem;
  opacity: 0.5;
  text-align: center;
  margin-top: 1.25rem;
}

#middle #prices {
  width: 50%;
  padding-left: 75px;
}

#middle #prices h1 {
  text-align: center;
}

#middle #prices ul {
  list-style: none;
}

#middle #prices ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
}

#middle #prices ul li input {
  outline: none;
  background-color: #1f2833;
  border: none;
  border-bottom: 1px solid #66fcf1;
  text-align: right;
  font-size: 1.5rem;
  width: 25%;
  color: #66fcf1;
}

#middle #prices ul li #current {
  color: #66fcf1;
}

#middle #prices ul #last {
  margin-bottom: 0;
}

#bottom {
  width: 80%;
  min-width: 867px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#bottom #priceHistory, #bottom #priceProbability {
  width: 50%;
}

#bottom #priceHistory {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-row-gap: 15px;
}

#bottom #priceHistory p {
  color: #66fcf1;
}

#bottom #priceHistory .smolText {
  color: #c5c6c7;
  font-size: 1rem;
}

#bottom #priceHistory .historyContainer {
  text-align: right;
}

#bottom #priceProbability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#bottom #priceProbability .smolText {
  color: #c5c6c7;
  font-size: 1rem;
}

#bottom #priceProbability #minMax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bottom #priceProbability #minMax #max {
  margin: 0 100px;
}

#bottom button {
  background-color: #1f2833;
  border: 1px solid #66fcf1;
  font-size: 1.5rem;
  border-radius: 25px;
  max-width: 250px;
  display: none;
}

#bottom button:hover {
  background-color: #2f3741;
  outline: none;
  cursor: pointer;
}

#bottom button:focus {
  outline: none;
}

@media (max-width: 970px) {
  #middle {
    min-width: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #middle #prices {
    width: 90%;
    padding: 0;
    margin-bottom: 5rem;
  }
  #middle #graphDiv {
    width: 90%;
  }
}

* {
  margin: 0;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  color: white;
}

body {
  background-color: #1f2833;
}

h1 {
  color: #66fcf1;
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

i {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */